.hero {
  img {
    display: flex;
    &.hero-desktop-img {
      display: none;
    }
  }

  header {
    height: 84px;
    position: absolute;
    top: 0;
    width: 100%;

    .header-container {
      width: 88%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .logo {
        //   border: 2px solid green;
        display: flex;
      }

      nav {
        background-color: var(--clr-white);
        border-radius: 6px;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
        visibility: hidden;
        opacity: 0;

        &.nav-mobile-active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transition: 0.3s ease-in;
        }

        .nav-menu {
          // border: 2px solid red;

          .menu-item {
            // border: 2px solid green;

            a {
              // border: 2px solid blue;
              display: flex;
              padding: 25px 16px;
              font-weight: var(--w-bold);
            }
          }
        }
      }

      .hamburger-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
          transform: scale(0.9);
          transition: transform 0.3s ease;
        }

        .close-btn {
          display: none;
        }

        &.btn-active {
          .close-btn {
            display: block;
          }

          .menu-btn {
            display: none;
          }
        }
      }
    }
  }
}
